body {
	font-family: Lucida Sans,Lucida Grande,Arial !important;
	font-size: 13px !important;
	background: white;
	color: #333;
}

/* Any demo specific styling needed for this tutorial only */
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.icon_btn_add {
  background-image: url('../icons/btn-plus.png');
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none; 
  outline:none;
}
.icon_btn_remove {
  background-image: url('../icons/btn-remove.png');
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none; 
  outline:none;
}

